<!-- Include Open Weather API in order to retreive a weather report. --> 

<section>
    <!-- Searchbar for air quality API -->
    <div class="card  green darken-2">
      <form class="form">
        <h5> Search Air Quality & Weather Information</h5>
        <hr>
        <div class="info">
          <input id="city" class="city" type="text" placeholder="Type city name. Ex: Seattle, New York, Dallas">
          <input id="state" class="state" type="text" placeholder="Type state name. Ex: Utah, Idaho, Oregon">
          <button id="btn-search" type="submit" class="button btn waves-effect waves-light" data-search="search">Search 🔍</button>
        </div>
      </form>
    </div>
    <input type="text"> 

    <!-- Air quality display section-->
    <div class= "green darken-2" id="airquality">
      <h4 class="air-header"> Air Quality Information</h4>
        <div class="city returninfo">City</div>
        <div class="date returninfo">Date</div>
        <div class="air-pollution returninfo">Air Quality index</div>
        <p class="returninfo" id="returninfo"> ** Good (0 - 50); Moderate (51 - 100); Unhealthy for sensitive group (101 - 150); Unhealthy (151 - 200); Very Unhealthy (201 - 300); Hazardous (Above 300)</p>

      <!-- Weather display section -->
      <div class="green darken-2" id="weather-forcast">
        <h4 class="weather-header">Weather Information</h4>
          <div class="temp returninfo">Temperature</div>
          <div class="atm-pressure returninfo">Atmospheric Pressure</div>
          <div class="humidity returninfo">Humidity</div>
          <div class="wind returninfo">Wind Speed</div>
          <div class="wind-direction returninfo">Wind Direction</div>
      </div>
    </div>
  </section> 